.blue-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 8px;
  padding: 16px;
  background-color: #537fe7;
  margin: 10px;
}

.shadow-container {
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.3);
  border-radius: 8px;
  color: white;
}

.welcome-text {
  color: white;
}